.fundos {
    background-image: url('/src/imagens/fundo-base-2.png');
    background-image: url('/src/imagens/fundo-base-3.png');
    background-image: url('/src/imagens/fundo-base-4.png');
    background-image: url('/src/imagens/fundo-base-5.png');
}